<div class="container">
  <h1 class="main-title">Websockets Chat</h1>
  <p id="user"></p>
  <div class="controls">
    <input type="text" name="input-text" id="input-text" />
    <input type="button" id="send-button" value="Enviar" />
  </div>
  <div id="messages">
  </div>
</div>